.custom_nav {
  background-color: #23374d;
  font-size: small;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.3);
  transition: top 0.3s;
  font-family: "Montserrat", "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.custom_nav ul.dropdown-menu {
  text-decoration: none;
  font-size: small;
  font-family: Arial,sans-serif;
}
.custom_nav ul.dropdown-menu a{
  color: black;
  text-decoration: none;
}
.custom_nav ul.dropdown-menu :hover{
  color: #5624d0;
}
.custom_nav ul.navbar-nav li.nav-item a.nav-link :focus {
  color: #5624d0 !important;
}
.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0; 
}
.main-banner {
  padding-top: 150px;
  padding-bottom: 110px;
  background-image: url(../img/pic.png);
  background-size: auto;
  color: white;
}
.main-banner-content {
  color: #ffffff;
}
.feature-holder {
  text-align: center;
  margin-bottom: 25px;
}
section.features {
  padding-top: 35px;
  padding-bottom: 25px;
  background-color: whitesmoke;
}
.feature-holder h3 {
  font-size: 1.2em;
}
.feature-holder p {
  font-size: 14px;
}
.online-courses,
.classroom-training,
.reviews-slider {
  padding-top: 35px;
  padding-bottom: 35px;
}
.online-courses-text,
.classroom-courses-text-widget,
.review-text-widget {
  text-align: center;
}
.online-courses-text h2,
.classroom-courses-text-widget h2,
.review-text-widget h2 {
  font-size: 1.3em;
}
.online-courses-text p,
.classroom-courses-text-widget p,
.review-text-widget p {
  font-size: 15px;
}
.online-course-card,
.review-text-widget {
  text-align: center;
  margin-bottom: 25px;
}
.online-course-card .card-title {
  font-size: 1em;
  line-height: 20px;
}
.online-course-card .card-text {
  font-size: 14px;
}
.classroom-training {
  background-color: whitesmoke;
}

.sign-up-form-sidebar .card-title {
  font-size: 1.3em;
}
.sign-up-form-sidebar .card-text {
  font-size: 14px;
}

.course-list-item {
  color: black;
  font-size: small;
  padding-top: 20px;
}
#course_1,
#course_2,
#course_3 {
  display: -ms-grid;
  display: grid;
  place-items: center;
  min-height: 50vh;
  width: 100vw;
}

#course_1 .heading,
#course_2 .heading,
#course_3 .heading {
  font-size: 2rem;
  padding-top: 5rem;
  margin: 1rem 0;
  color: #fff;
  text-align: center;
  position: relative;
  color: rgb(70, 70, 238);
}

#course_1 .heading::after,
#course_2 .heading::after,
#course_3 .heading::after {
  content: "";
  position: absolute;
  bottom: -1.5rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  height: 0.3rem;
  width: 30%;
  border-radius: 5rem;
  background: #333;
}

#course_1 .box-container,
#course_2 .box-container,
#course_3 .box-container {
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 90%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

#course_1 .box-container .box,
#course_2 .box-container .box,
#course_3 .box-container .box {
  height: 20rem;
  width: 20rem;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0 0 0.3rem #333;
  box-shadow: 0 0 0.3rem #333;
  margin: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  cursor: pointer;
  overflow: hidden;
}

#course_1 .box-container .box img,
#course_2 .box-container .box img,
#course_3 .box-container .box img {
  height: 30%;
  width: 30%;
  -webkit-transform: translateY(3rem);
  transform: translateY(3rem);
}

#course_1 .box-container .box p,
#course_2 .box-container .box p,
#course_3 .box-container .box p {
  font-size: 1 rem;
  text-align: center;
  color: #fff;
  opacity: 0;
  -webkit-transform: translateY(12rem);
  transform: translateY(12rem);
  padding: 0 0.4rem;
}

#course_1 .box-container .box:hover p,
#course_2 .box-container .box:hover p,
#course_3 .box-container .box:hover p {
  opacity: 1;
  -webkit-transform: translateY(0rem);
  transform: translateY(0rem);
}

#course_1 .box-container .box:hover img,
#course_2 .box-container .box:hover img,
#course_3 .box-container .box:hover img {
  height: 25%;
  width: 25%;
  -webkit-transform: translateY(-1.5rem);
  transform: translateY(-1.5rem);
}

#course_1 .box-container .box:hover,
#course_2 .box-container .box:hover,
#course_3 .box-container .box:hover {
  background: #333;
}

#color_00 {
  background-color: #0085ff;
}

aside.footer-widget {
  margin-bottom: 25px;
}
aside.footer-widget h5 {
  font-size: 16px;
}
aside.footer-widget ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
aside.footer-widget ul li a {
  text-decoration: none;
  font-size: 14px;
  display: inline-block;
  margin-bottom: 5px;
  font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
  line-height: 1.42857143;
  color: #fff;
}

.my_card:hover{
  box-shadow: 2px 2px 12px rgba(0,0,0,0.3);
  transition-duration: 0.4s;
}
.my_card h3{
  font-size: 1.2em;
  color: #494949;
  font-family: Arial, Helvetica, sans-serif;
}

footer {
  color: #fff;
}

footer h3 {
  margin-bottom: 30px;
}

footer .footer-above {
  padding-top: 50px;
  background-color: #2c3e50;
}

footer .footer-col {
  margin-bottom: 50px;
}

footer .footer-below {
  padding: 25px 0;
  background-color: #233140;
}

.btn-social {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 2px solid #fff;
  border-radius: 100%;
  text-align: center;
  font-size: 20px;
  line-height: 45px;
}
.btn-outline {
  margin-top: 15px;
  border: solid 2px #fff;
  font-size: 20px;
  color: #fff;
  background: 0 0;
  transition: all .3s ease-in-out;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
  border: solid 2px #fff;
  color: #18bc9c;
  background: #fff;
}


.h3{
  text-transform: uppercase;
  font-family: "Montserrat", "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
  font-size: 26px;
  margin-bottom: 30px;
}

.par{
  font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
  line-height: 1.42857143;
  font-size: 20px;
  margin: 0 0 10.5px;
}

.footer_copy{
  font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 15px;
  line-height: 1.42857143;
}